.slide {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: rem(286px);
    height: rem(150px);

    &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: rem(16px) rem(16px) 0 rem(16px);
    }

    &__icon--exclamation { 
        color: $red_orange;
    }

    &__icon--question {
        color: $wild-blue-yonder;
    }

    &__icon--info {
        color: $curious_blue;
    }

    
    &__title {
        display: block;

        margin-bottom: rem(10px);

        font-size: $font-size-base;
        font-weight: $font-weight-medium;
        line-height: 150%;
    }

    &__text {
        margin-bottom: rem(20px);
        padding: 0 rem(16px) 0 rem(16px);
    }

    &__container {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    &__button {
        padding: rem(6px) rem(30px);

        border-radius: rem(5px) 0 0 0;
    }



}