.tabs {
    display: flex;

    margin-top: 0;
    padding: 0;
    
    list-style-type: none !important;
    
    border-bottom: rem(1px) solid $heather;
    
    &__item {
        margin-bottom: 0;
        margin-top: 0;

        &:not(:last-child) {
        margin-right: rem(50px);
        }
    }

    &__tab { 
        font-family: $font-family-custom;
        font-size: rem($font-size-base);
        font-weight: $font-weight-medium;
        line-height: rem(21px);
        position: relative;
     
        overflow: hidden;
     
        margin-bottom: rem(-1px);
        padding: 0 0 rem(15px) 0;
     
        transition: color 150ms ease-in-out;
     
        color: $heather;
        border: none;
        background-color: transparent;
     
        &:hover,
        &[aria-selected="true"] {
          color: $color-text;
        }
     
        &:not([aria-selected="true"])::after {
          transform: translateY(rem(4px));
        }
     
        &::after {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
     
          content: '';
     
          height: rem(4px);
     
          transition: transform 150ms ease-in-out;
     
          border-top-left-radius: rem(4px);
          border-top-right-radius: rem(4px);
          background-color: $cerise-red;
        }
      }
}

