@font-face {
    $font-name: "Roboto-Regular";
    font-family: $font-family-custom;
    font-weight: $font-weight-regular;
    font-style: normal;
    font-display: swap;
    src: url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
         url("../../assets/fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
    $font-name: "Roboto-Medium";
    font-family: $font-family-custom;
    font-weight: $font-weight-medium;
    font-style: normal;
    font-display: swap;
    src: url("../../assets/fonts/Roboto-Medium.woff") format("woff"),
         url("../../assets/fonts/Roboto-Medium.woff2") format("woff2");
}

